<div class="btn-group" data-toggle="buttons" role="group">
    <button class="btn btn-default active table-button">
        <span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span>
    </button>
    <button class="btn btn-default details-button">
        <span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span>
        <span class="glyphicon glyphicon-list-alt"></span>
    </button>
</div>
